/* Seletor Universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #002060;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8em;
}

/*CADASTRAR PRODUTO*/
#cadastro {

}